<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>meet.php - darmowe meetupy na temat PHP</title>
  <meta name="author" content="Radosław Benkel &amp; AKAI &amp; Michał Maćkowiak">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{{ WEBROOT }}/css/normalize.css">
  <link rel="stylesheet" href="{{ WEBROOT }}/css/style.css">
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
    
  <!-- Header section -->
  <header class="main-header clearfix" role="banner">
    <div class="inner">
      <a href="{{ WEBROOT }}" class="main-logo"><img src="{{ WEBROOT }}/img/logo.png" alt="meet.php - darmowe meetupy na temat PHP"></a>

      <nav id="main-navigation" class="main-navigation" role="navigation">
        <ul>
          <li><a href="{{ WEBROOT }}/">home</a></li>
          <li><a href="{{ WEBROOT }}/events">eventy</a></li>
          <li><a href="{{ WEBROOT }}/faq">faq</a></li>
          <li><a href="{{ WEBROOT }}/partners">partnerzy</a></li>
          <li><a href="{{ WEBROOT }}/contact">kontakt</a></li>
        </ul>

        <select id="mobile-menu" class="mobile-menu">
          <option selected>menu</option>
          <option value="{{ WEBROOT }}/">home</option>
          <option value="{{ WEBROOT }}/events">eventy</option>
          <option value="{{ WEBROOT }}/faq">faq</option>
          <option value="{{ WEBROOT }}/contact">kontakt</option>
          <option value="{{ WEBROOT }}/partners">partnerzy</option>
        </select>
      </nav>
    </div>
  </header>
  <!-- End header section -->

  {% block content %}{% endblock %}
   
  <!-- Footer section -->
  <footer class="main-footer inner">
    <p class="credits">
      Inicjatywa: <a href="http://blog.rbenkel.me">Radosław Benkel</a> &amp; <a href="http://www.twitter.com/daniula">Daniel Mendalka</a> | Design: <a href="http://lifetones.pl">Lifetones</a>
    </p>

    <p class="social">
      Jesteśmy też na :
      <a href="https://www.facebook.com/meet.pehape" class="icon-facebook">Facebook</a>
      <a href="http://www.twitter.com/meetphp" class="icon-twitter">Twitter</a>
      <a href="https://plus.google.com/107635603864697450989" class="icon-googleplus">Google+</a>
      <a href="https://github.com/singles/meet.php" class="icon-github">GitHub</a>
    </p>
  </footer>
  <!-- End footer section -->  
  
  <script src="scripts/script.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26834397-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
