<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>meet.php - darmowe meetupy na temat PHP</title>
  <meta name="description" content="">
  <meta name="author" content="Radosław Benkel &amp; AKAI">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{{ WEBROOT }}/css/style.css">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
    <div id="header-background">
        <header>
          <a href="{{ WEBROOT }}/" id="logo">meet.php</a>
          <nav>
            <ul>
                <li><a href="{{ WEBROOT }}/contact">kontakt</a></li>
                <li><a href="{{ WEBROOT }}/faq">faq</a></li>
                <li><a href="{{ WEBROOT }}/events">eventy</a></li>
                <li><a href="{{ WEBROOT }}/">home</a></li>
            </ul>
          </nav>
        </header>
    </div>
    {% block content %}{% endblock %}
    <div id="footer-background">
        <footer>
            <aside id="credits">
                <span>Inicjatywa: <a href="http://blog.rbenkel.me">Radosław Benkel</a> &amp; <a href="http://www.twitter.com/daniula">Daniel Mendalka</a> | Design: <a href="http://lifetones.pl">Lifetones</a> </span>
            </aside>
            <aside id="social">
                <span>Jesteśmy też na : </span>
                <a href="https://www.facebook.com/pages/meetphp/233447820052211" id="facebook">Facebook</a>
                <a href="http://www.twitter.com/meetphp" id="twitter">Twitter</a>
                <a href="http://www.lanyrd.com/profile/meetphp" id="lanyrd">Lanyrd</a>
                <a href="http://meetphp.eventbrite.com/" id="eventbrite">Eventbrite</a>
            </aside>
            <aside id="cooperation">
                <span>Współpraca : </span>
                <a href="http://pl-pl.facebook.com/coworkingZOO" id="zoo">Coworking ZOO</a>
                <a href="http://akai.org.pl" id="akai">AKAI</a>
            </aside>
            <aside id="partners">
                <span>Partnerzy : </span>
                <a href="http://www.webclusters.pl" id="webclusters">Webclusters</a>
                <a href="http://4developers.org.pl/" id="fordevelopers">4Developers</a>
            </aside>
        </footer>
        <span id="background-image-cont"></span>
    </div>
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26834397-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
</body>
</html>
