<!-- Welcome section -->
<section class="welcome-section">
    <div class="inner">
        <article>
            <header class="welcome-header">
                <h1>meet.<strong>php</strong> <em>#{{ last.id }}</em></h1>
                <time datetime="{{ last.datetime }}">{{ last.date }}</time>
            </header>
            <div class="welcome-entry clearfix">
                <p>{{ last.description }}</p>
                <a href="{{ WEBROOT }}/events/{{ last.id }}/" class="button">szczegóły</a>
            </div>
        </article>
    </div>
</section>
<!-- End welcome section -->