{% extends '_layout.twig' %}

{% block content %}
{% include '_top.twig' %}
{% if events|length > 0 %}

<div class="page events-page clearfix">
    <div class="inner">
        {% for e in events %}
        <article class="event">
            <header class="page-header clearfix">
                <h1>meet.<strong>php</strong> <em>#{{ e.id }}</em></h1>
                <time datetime="{{ e.datetime }}">{{ e.date }}</time>
                <a href="{{ WEBROOT }}/events/{{ e.id }}" class="button">szczegóły</a>
            </header>
            <div class="page-content">
                <p>{{ e.description }}</p>
            </div>
        </article>
        {% endfor %}
    </div>
</div>

{% endif %}
{% endblock %}

